.background {
  viewport-fill: fb-black;
}

.application-fill {
  fill: fb-cyan;
}

#up-button #image {
  href: "up.png";
  fill: fb-white;
}

#down-button #image {
  href: "down.png";
  fill: fb-white;
}

#left-button #image {
  href: "left.png";
  fill: fb-white;
}

#right-button #image {
  href: "right.png";
  fill: fb-white;
}

#ok-button #image {
  href: "ok.png";
  fill: fb-white;
}
