.background {
  viewport-fill: fb-black;
}

.application-fill {
  fill: #6f1ab1;
}

#back-button #image {
  href: "back.png";
  fill: fb-white;
}

#home-button #image {
  href: "home.png";
  fill: fb-white;
}

#up-button #image {
  href: "up.png";
  fill: fb-white;
}

#down-button #image {
  href: "down.png";
  fill: fb-white;
}

#left-button #image {
  href: "left.png";
  fill: fb-white;
}

#right-button #image {
  href: "right.png";
  fill: fb-white;
}

#ok-button #image {
  href: "ok.png";
  fill: fb-white;
}

#volume-up-button #image {
  href: "volume_up.png";
  fill: fb-white;
}

#volume-down-button #image {
  href: "volume_down.png";
  fill: fb-white;
}
